.ul {
  padding-left: 20px;
}

.li {
  margin-left: -1rem;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 2;
  list-style: none;
  color: #324376;
}

@media (max-width: 500px) {
  .li {
    font-size: 16px;
    text-transform: none;
    line-height: 2;
    list-style: none;
  }
}
