.recipe__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.recipe__imgparent {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.recipe__img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.recipe__imgparent:hover .recipe__img,
.recipe__imgparent:focus .recipe__img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.recipe__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  word-wrap: break-word;
  cursor: pointer;
  position: relative;
  top: -20px;
}

.recipe__likes {
  position: relative;
  font-size: 20px;
  top: -36px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.recipe__reaction {
  display: flex;
  flex-direction: row;
}

.recipe__likescount {
  color: white;
  position: relative;
  pointer-events: none;
  margin-left: 10px;
  font-weight: 400;
}

.title__container {
  height: 40px;
}

@media (max-width: 500px) {
  .recipe__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    width: 145px;
    padding-bottom: 40px;
  }

  .recipe__imgparent {
    width: 165px;
    height: 230px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
  }

  .recipe__img {
    object-fit: cover;
  }

  .recipe__likes {
    position: relative;
    font-size: 16px;
    top: -36px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .recipe__comment {
    position: relative;
    font-size: 16px;
    top: -36px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .recipe__likescount {
    color: white;
    position: relative;
    pointer-events: none;
    margin-left: 10px;
  }

  .recipe__title {
    font-size: 16px;
  }

  .title__container {
    height: 28px;
  }
}
