.listCards {
  width: 100%;
  height: 92px;
  border-bottom: 0.5px solid black;
  cursor: pointer;
}

.listAvatar {
  background-color: white;
  width: 70%;
  border-radius: 8px;
}

.avatar {
  background-color: black;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.letter {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: white;
}

.cards {
  margin-top: 1rem;
}

.center {
  text-align: center;
}
