.selector {
	width: 100%;
	display: flex;
	border-bottom: 0.5px solid black;
	margin-top: 1rem;
}

.selectorText {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 16px;
	font-weight: 400;
}

.selectorBlock {
	width: 100%;
	text-align: center;
}

.selectorBlock:hover {
	border-bottom: 2px solid black;
}
