.search {
	background: #ffffff;
	border: 0.7px solid #000000;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 1.5vh 30vw 1.5vh 10vw;
	font-family: Lato, sans-serif;
	margin-left: 1.5vw;
	font-size: 40px;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
}

.searchbox {
	margin-top: 10px;
	position: absolute;
	z-index: 1;
	width: 140%;
}

.img {
	position: relative;
	margin-top: -36px;
	margin-left: 5vw;
	pointer-events: none;
}

.size {
	position: relative;
}

.iconImg {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: cover;
}

.a {
	font-size: 14px;
	margin-left: 15px;
}

.linkbox {
	padding: 10px;
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid black;
}

.linkbox:hover {
	background-color: #faf5f0;
}

.box {
	border-radius: 4px;
	cursor: pointer;
	width: 140%;
	background-color: white;
	max-height: 40px;
	overflow-y: scroll;
	max-height: 500px;
	overflow-y: scroll;
	border: 0.1px solid grey;
}

@media only screen and (min-width: 33.75em) {
	.search {
		padding: 15px 170px 15px 56px;
		margin-left: 0;
		font-size: 22px;
	}
	.img {
		margin-top: -43px;
		margin-left: 16px;
	}

	.searchbox {
		margin-top: 10px;
		position: absolute;
		z-index: 1;
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.searchbox {
		margin-top: 25px;
		padding-left: 8px;
		position: absolute;
		z-index: 1;
		width: 80%;
	}

	.search {
		width: 100%;
		font-size: 18px;
		padding: 1.5vh 5vw 1.5vh 10vw;
	}

	.size {
		width: 98%;
	}

	.a {
		font-size: 18px;
	}

	.box {
		width: 40vh;
		max-height: 200px;
	}
}
